header div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #060601;
    z-index: 1000;
    position:relative ;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4)

}

header img {
    height: 270px;
}

header nav {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1205;
}
header nav a {
    font-size: 30px;
    color: #FFF;
    margin: 0px 10px;
    font-weight: bold;
}
@media screen and (max-width: 480px) {
    header {
      flex-direction: column;
    }
    header nav a {
        font-size: 11px;
    }
  }